.root {
  padding-left: 10px;
  padding-bottom: 200px;
}
.head {
  color: #454446;
  width: fit-content;
  margin: 20px 0px;
  font-size: 28px;
  border-bottom: 3px solid #c83843;
  font-weight: 400;
}